:root {
    --white: #fff;
    --black: #222;
    --primary: #f3327c;
    --grey: #888;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap");
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
    color: var(--black);
    background-color: var(--white);
}

ul,
li {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}

.container {
    max-width: 114rem;
    margin: 0 auto;
}


/* PROMO */

.promo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: var(--primary);
    text-align: center;
    color: var(--white);
    padding: 0.5rem 0;
}

.social-list a {
    margin-left: 15px;
}


/* HEADER */

.hamburger {
    display: none;
}

.menu .top {
    display: none;
}


/* .header {
    min-height: 100vh;
  } */

.d-flex {
    display: flex;
    align-items: center;
}

.navigation {
    height: 7rem;
    justify-content: space-between;
}

.logo {
    outline-offset: 0.2rem;
    padding: 0rem 1.5rem;
}

.logo img {
    width: 15%;
}

.nav-item:not(:last-child) {
    margin-right: 0.5rem;
}

.nav-link {
    padding: 0 1rem;
    transition: all 300ms ease-in-out;
}

.nav-item:first-child .nav-link {
    color: var(--primary);
}

.nav-link:hover {
    color: var(--primary);
}

.nav .icons div {
    font-size: 2rem;
    padding: 0.5rem;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.nav .icons div:not(:last-child) {
    margin-right: 0.5rem;
}

.nav .icons div:hover {
    color: var(--primary);
}

.nav .icons div:last-child {
    position: relative;
}

.nav .icons div span {
    position: absolute;
    top: -0.5rem;
    right: -1.2rem;
    font-size: 1rem;
    font-weight: 600;
    color: var(--white);
    background-color: var(--primary);
    height: 2.2rem;
    width: 2.2rem;
    border-radius: 50%;
}

.align-center {
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Hero */

.hero {
    height: calc(100vh - 7rem);
    background-color: beige;
    overflow: hidden;
    position: relative;
    z-index: 0;
}

.hero-content {
    height: 100%;
}

.hero-content .left {
    margin-top: -5rem;
}

.hero-content .left .subtitle {
    display: inline-block;
    font-size: 1.4rem;
    margin-bottom: 1.6rem;
}

.hero-content .left .title {
    line-height: 1.3;
    font-weight: 600;
    font-size: 4rem;
    text-align: left;
}

.hero-content .left .color {
    color: var(--primary);
}

.hero-content .left h5 {
    font-weight: 400;
    margin-top: 2rem;
}

.btn {
    display: inline-block;
    border-radius: 5rem;
    background-color: var(--primary);
    padding: 1.3rem 5rem;
    color: var(--white);
    font-weight: 600;
    box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.3);
    margin-top: 4rem;
}

.hero-content .right img {
    position: absolute;
    bottom: 0;
    right: -5%;
    height: 100%;
}


/* Section */

.section {
    padding: 10rem 0 0 0;
}

.cta-buttons .button {
    background-color: var(--primary);
    /* Green */
    border-radius: 10px;
    border: none;
    outline: none;
    color: #fff;
    padding: 10px 20px 30px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
    width: 90px;
    height: 40px;
}


/* Services */

.service-center {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 5rem;
}

.service {
    padding: 1rem 1rem 2rem 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0px 0px 18px 0 #0000002c;
}

.service .icon {
    color: var(--primary);
    font-size: 4rem;
}

.service h4 {
    margin-bottom: 0.3rem;
}

.service .text {
    font-size: 1.5rem;
    color: #777;
}


/* New Arrivals */

.title {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 5rem;
    font-weight: 600;
}

.title h1 {
    font-weight: 400;
}

.title span {
    color: var(--primary);
}

.product-center {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 5rem;
    margin-bottom: 5rem;
}

.product {
    box-shadow: 0px 0px 18px 0 #0000002c;
    text-align: center;
    padding-bottom: 1rem;
    transition: all 500ms ease-in-out;
    border-radius: 10px;
}

.cat {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(8, 4vw);
    gap: 2rem;
}

.cat .item {
    overflow: hidden;
}

.cat img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    transition: all 500ms ease-out;
}

.cat .item-1 img {
    object-fit: fill;
}

.cat img:hover {
    transform: scale(1.2);
}

.item-1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 9;
}

.item-2 {
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 9;
}

.item-3 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 5;
}

.item-4 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 5;
    grid-row-end: 9;
}


/* styling the pop up form */

input[type=text],
input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    height: 50px;
}


/* Full-width for texteria*/

textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}


/* Add a background color when the inputs get focus */

input[type=text]:focus,
input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}


/* Set a style for all buttons */

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

button:hover {
    opacity: 1;
}


/* Extra styles for the cancel button */

.cancelBtn {
    padding: 14px 20px;
    background-color: rgb(243, 50, 124)
}


/* Float cancel and signup buttons and add an equal width */

.updateBtn {
    background-color: teal;
}


/* Float cancel and signup buttons and add an equal width */

.cancelBtn,
.updateBtn {
    float: left;
    width: 50%;
}


/* Add padding to container elements */

.container {
    padding: 16px;
}


/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    padding-top: 50px;
}


/* Modal Content/Box */

.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto;
    /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 30%;
    /* Could be more or less, depending on screen size */
}


/* Style the horizontal ruler */

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}


/* The Close Button (x) */

.close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: (var(--primary));
}

.close:hover,
.close:focus {
    color: (var(--primary));
    cursor: pointer;
}

.container h4 {
    font-weight: normal;
    text-align: center;
    font-size: medium;
}


/* Clear floats */

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}


/* Footer */

.footer {
    background-color: var(--black);
    padding: 6rem 1rem;
    line-height: 3rem;
    margin-top: 5rem;
}

.footer-center span {
    margin-right: 1rem;
}

.footer-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    color: var(--white);
}

.footer-center a:link,
.footer-center a:visited {
    display: block;
    color: var(--grey2);
    font-size: 1.4rem;
    transition: 0.6s;
}

.footer-center a:hover {
    color: var(--primary);
}

.footer-center div {
    font-size: 1.4rem;
}

.footer-center h3 {
    font-size: 1.8rem;
    font-weight: 400;
    margin-bottom: 1rem;
}

@media only screen and (max-width: 1200px) {
    .container {
        padding: 0 3rem;
    }
}

@media only screen and (max-width: 998px) {
    .footer-container {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 2rem;
    }
}

@media only screen and (max-width: 768px) {
    .navigation {
        padding: 1rem 0;
    }
    .menu {
        position: fixed;
        top: 0;
        left: -100%;
        background-color: var(--white);
        height: 100%;
        width: 80%;
        max-width: 45rem;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
        transition: all 500ms ease-in-out;
        z-index: 100;
    }
    .icons {
        display: none;
    }
    .hamburger {
        display: block;
        font-size: 3rem;
        cursor: pointer;
    }
    .menu .top {
        display: block;
        position: relative;
        background-color: var(--primary);
        width: 100%;
        height: 6rem;
        color: var(--white);
    }
    .top span {
        display: flex;
        align-items: center;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 1rem;
        font-size: 2rem;
        cursor: pointer;
    }
    .top span i {
        font-size: 3rem;
    }
    .nav-list {
        flex-direction: column;
        align-items: start;
        padding: 2rem 0;
    }
    .nav-item {
        margin: 0 0 2rem 0;
    }
    .nav-link {
        padding: 0.7rem;
    }
    .menu.show {
        left: 0;
    }
    .footer-container {
        grid-template-columns: 1fr;
        row-gap: 2rem;
    }
}

@media only screen and (max-width: 600px) {
    .gallary {
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(20, 4vw);
    }
    .item-1 {
        grid-column-start: 1;
        grid-column-end: 7;
        grid-row-start: 1;
        grid-row-end: 7;
    }
    .item-2 {
        grid-column-start: 1;
        grid-column-end: 7;
        grid-row-start: 7;
        grid-row-end: 11;
    }
    .item-3 {
        grid-column-start: 1;
        grid-column-end: 7;
        grid-row-start: 11;
        grid-row-end: 15;
    }
    .item-4 {
        grid-column-start: 1;
        grid-column-end: 7;
        grid-row-start: 15;
        grid-row-end: 19;
    }
}

@media only screen and (max-width: 500px) {
    .modal-content {
        width: 70%;
        /* Could be more or less, depending on screen size */
    }
    .modal {
        width: 100%;
        height: 100%;
    }
    .logo img {
        width: 25%;
        margin-left: 80%;
    }
    .right img {
        position: absolute;
        bottom: 0;
        left: 22%;
        height: 100%;
        top: 50%;
    }
}